body{
    margin: 0px 0px;
    font-family: 'Lato';
}


header{
    height: 104px;
    background-color: #0F8B8D;
    border-radius: 20px 20px 0px 0px;
}
.header-wrapper img{
    width: 135px;
    height: 27px;
    margin-top: 20px;
    margin-left: 40px;
}
.navigation-links{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}
.navigation-links a{
    color: white;
    list-style: none;
    text-decoration: none;
}


.main-wrapper{
    padding: 40px;
    display: block;
    text-align: center;
    justify-content: center;
}
.main-wrapper h1{
    font-size: 20px;
    color: #0F8B8D;
}
.main-wrapper p{
    font-size: 12px;
    color: #143642;
}

.arenlatte{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .arenlatte-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .arenlatte p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .arenlatte img{
            height: 90px;
            width: 120px;
        }

.cafelatte{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .cafelatte-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .cafelatte p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .cafelatte img{
            height: 90px;
            width: 120px;
        }

.cafelatte{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .cafelatte-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .cafelatte p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .cafelatte img{
            height: 90px;
            width: 120px;
        }
        
.caramellatte{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .caramellatte-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .caramellatte p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .caramellatte img{
            height: 90px;
            width: 120px;
        }        
.caramellatte{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .caramellatte-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .caramellatte p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .caramellatte img{
            height: 90px;
            width: 120px;
        }
                
.americano{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .americano-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .americano p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .americano img{
            height: 90px;
            width: 120px;
        }
                        
.cappucino{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .cappucino-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .cappucino p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .cappucino img{
            height: 90px;
            width: 120px;
        }
                                
.butterscotch{
    width: 135px;
    height: 135px;
    border-radius: 10px;
    display: block;
    align-content: flex-end;
    background-image: url("Img/Coffee background.png");
}
        .butterscotch-isi h4{
            color: white;
            font-size: 12px;
            margin: 0px;
        }
        .butterscotch p{
            color: white;
            font-size: 12px;
            margin: 0px;

        }
        .butterscotch img{
            height: 90px;
            width: 120px;
        }

.menu-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 20px;
}


footer {
    height: fit-content;
    background-color: #143642;
    border-radius: 20px;
    padding: 20px 40px;
}

.logo-footer {
    width: 145px;
    height: 29px;
}

.imgiconwrp {
    display: flex;
    justify-content: space-between;
}

.iconwrp {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.mail-icon, .phone-icon {
    height: 25px;
}

.mail-icon{
    padding-right: 10px;
}

.footlinks-list{
    margin-top: 30px;
    margin-left: 40px;
}

.footlinks-list {
    margin-top: 10px;
}

.footlinks-list h3{
    font-size: 14px;
    color: #EC9A29;
    margin-bottom: 10px;
    margin-top: 0px;
}

.footlinks-list ul{
    padding-left: 30px;
}

.footlinks-list li{
    list-style: none;
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.copyright p{
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px 40px 0px;
    font-size: 12px;
}


@media only screen and (min-width: 992px) {
    
    
    header{
        height: 145px;
        border-radius: 30px 30px 0px 0px;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .header-wrapper img{
        width: 335px;
        height: 67px;
        margin-top: 40px;
        margin-left: 138px;
    }
    .navigation-links{
        margin-top: 54px;
        margin-right: 138px;
    }
    .navigation-links a{
        font-size: 30px;
        margin-left: 50px;
    }


    .main-wrapper{
        padding: 100px 275px;
    }
    .main-wrapper h1{
        font-size: 48px;
    }
    .main-wrapper p{
        font-size: 24px;
    }
    
    .arenlatte{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .arenlatte-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .arenlatte p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .arenlatte img{
                height: 140px;
                width: 186px;
            }
    
    .cafelatte{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .cafelatte-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .cafelatte p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .cafelatte img{
                height: 140px;
                width: 186px;
            }
    
    .cafelatte{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .cafelatte-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .cafelatte p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .cafelatte img{
                height: 140px;
                width: 186px;
            }
            
    .caramellatte{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .caramellatte-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .caramellatte p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .caramellatte img{
                height: 140px;
                width: 186px;
            }        
    .caramellatte{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .caramellatte-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .caramellatte p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .caramellatte img{
                height: 140px;
                width: 186px;
            }
                    
    .americano{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .americano-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .americano p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .americano img{
                height: 140px;
                width: 186px;
            }
                            
    .cappucino{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .cappucino-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .cappucino p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .cappucino img{
                height: 140px;
                width: 186px;
            }
                                    
    .butterscotch{
        width: 216px;
        height: 216px;
        border-radius: 10px;
        display: block;
        align-content: flex-end;
        background-image: url("Img/Coffee background.png");
    }
            .butterscotch-isi h4{
                color: white;
                font-size: 18px;
                margin: 0px;
            }
            .butterscotch p{
                color: white;
                font-size: 18px;
                margin: 0px;
    
            }
            .butterscotch img{
                height: 140px;
                width: 186px;
            }
    
    .menu-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 120px;
        margin-top: 40px;
    }


    footer{
        padding: 80px 138px;
    }
    .footer-wrapper {
        display: flex;
    }
    .imgiconwrp{
        display: block;
    }
    .logo-footer{
        width: 335px;
        height: 67px;
    }
    .iconwrp{
        margin-top: 30px;
    }
    .phone-icon, .mail-icon{
        height: 32px;
    }
    .footlinks-list{
        display: flex;
    }
    .footlinks-list ul{
        padding-left: 0px;
    }
    .footlinks-list h3{
        font-size: 24px;
    }
    .footlinks-list li{
        font-size: 24px;
    }
    .footlinks-product, .footlinks-store, .footlinks-contact{
        padding-left: 140px;
    }
}